<launch>
  <arg name="joy_dev" default="$(optenv JACKAL_JOY_DEVICE /dev/input/ps4)" />
  <arg name="joystick" default="true" />
  <arg name="keyboard" default="true" />

  <group ns="bluetooth_teleop" if="$(arg joystick)">

    <group unless="$(optenv JACKAL_PS3 0)" >
      <rosparam command="load" file="$(find jackal_control)/config/teleop_ps4.yaml" />
      <param name="joy_node/dev" value="$(arg joy_dev)" />
    </group>

    <group if="$(optenv JACKAL_PS3 0)" >
      <rosparam command="load" file="$(find jackal_control)/config/teleop_ps3.yaml" />
      <param name="joy_node/dev" value="$(arg joy_dev)" />
    </group>

    <node pkg="joy" type="joy_node" name="joy_node" />

    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>
  </group>

  <group if="$(arg keyboard)" >
    <node pkg="teleop_twist_keyboard" name="keyboard" type="teleop_twist_keyboard.py" launch-prefix="xterm -e">
      <remap from="cmd_vel" to="key_vel"/>
    </node>
  </group>
  <!-- new add keyboard teleop -->

   <!--<node name="teleop_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"> -->
  <!--<node pkg="teleop_twist_keyboard" name="teleop_keyboard_node" type="teleop_twist_keyboard.py" launch-prefix="xterm -e">-->
    <!--<remap from="cmd_vel" to="key_vel"/>-->
  <!--</node>-->
  


  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server"/>
</launch>
