<launch>
  <!-- spwan jackal in some world with ouster lidar -->
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="world_name" default="$(find jackal_gazebo)/worlds/jackal_race.world" />

  <!--Set Ouster Lidar config-->
  <arg name="ouster_laser" default="true" />
  
  <!-- 3D ouster os1-64 lidar -->
  <arg name="lidar_config" value="ouster_laser" if="$(arg ouster_laser)" />

  <!-- otherwise use default 2D lidar -->
  <arg name="lidar_config" value="front_laser" unless="$(arg ouster_laser)" />

  <!-- Configuration of Jackal which you would like to simulate.
    See jackal_description for details. -->
  <arg name="config" default="$(arg lidar_config)" />

  <!-- Optionally enable teleop for the simulation -->
  <arg name="joystick" default="true" />

  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name" value="$(arg world_name)" />
  </include>

  <!-- Spawn Jackal -->
  <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch">
    <arg name="x" value="0" />
    <arg name="y" value="0" />
    <arg name="z" value="1.0" />
    <arg name="yaw" value="0" />
    <arg name="config" value="$(arg config)" />
    <arg name="joystick" value="$(arg joystick)" />
    <arg name="keyboard" default="false" />
    <arg name="enable_ekf" default="false" />
  </include>

  <!--Spawn rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_gazebo)/rviz/jackal_ouster.rviz" />

</launch>
