<launch>
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="world_name" default="$(find jackal_gazebo)/worlds/jackal_race.world" />

  <!--Set Ouster Lidar config-->
  <arg name="ouster_laser" default="true" />
  <arg name="default_config" value="ouster_laser" if="$(arg ouster_laser)" />
  <arg name="default_config" value="base" unless="$(arg ouster_laser)" />

  <!-- Configuration of Jackal which you would like to simulate.
    See jackal_description for details. -->
  <arg name="config" default="$(arg default_config)" />

  <!-- Optionally enable teleop for the simulation -->
  <arg name="joystick" default="true" />

  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name" value="$(arg world_name)" />
  </include>

  <!-- Spawn Jackal -->
  <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch">
    <arg name="x" value="0" />
    <arg name="y" value="0" />
    <arg name="z" value="1.0" />
    <arg name="yaw" value="0" />
    <arg name="config" value="$(arg config)" />
    <arg name="joystick" value="$(arg joystick)" />
    <arg name="keyboard" default="false" />
    <arg name="enable_ekf" default="false" />
  </include>

  <!--Running with ground truth odom without ekf. Set the ground truth topic-->
  <arg name="gazebo_odom_topic" default="/ground_truth/state" />

	<!-- published odom to base_footprint transform -->
  <node pkg="gazebo_p3d_utils" type="p3d_link_tf" name="p3d_link_tf"  output="screen">
    <remap from="~input" to="$(arg gazebo_odom_topic)"/>
  </node>  

 <!--Launch the Octomap-->
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
      <!--coarse resolution for speed up-->
      <param name="resolution" value="0.1" />
      <!--fixed map frame (set to 'map' if SLAM or localization running!)-->
      <param name="frame_id" type="string" value="map" />
      <!--data source to integrate (PointCloud2)-->
      <remap from="cloud_in" to="/os1_cloud_node/points" />
      <!--maximum range to integrate (speedup!)-->
      <param name="sensor_model/max_range" value="5.0" />
      <param name="pointcloud_max_z" value="2.0" />
      <param name="pointcloud_min_z" value="0.4" />

       <!--TODO: Check these params -->
      <!--<param name="sensor_model/hit" value="0.8" />-->
      <!--<param name="base_frame_id" value="base_link" />-->
      <!--<param name="filter_ground" value="true" />-->
      <!--<param name="occupancy_max_z" value="50.0" />-->
      <!--<param name="occupancy_min_z" value="-50.0" />-->
  </node>

  <!--- Run erl astar -->
  <node name="erl_astar_ros" pkg="erl_astar_ros" type="erl_astar_2d_online_node" output="log" launch-prefix="">
    <param name="inflation_value" value="0.25"/>
    <param name="plan_freq" value="50.0"/>
    <param name="odom_topic" value="$(arg gazebo_odom_topic)"/>
    <param name="path_topic" value="/path"/>
    <param name="map_topic" value="/projected_map"/>  
    <param name="goal_topic" value="/move_base_simple/goal"/>
  </node>

  <!--Spawn rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_gazebo)/rviz/ouster_octomap_astar.rviz" />

</launch>
