<launch>
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0.4" />
  <arg name="yaw" default="0" />
  <arg name="world_name" default="$(find jackal_gazebo)/worlds/jackal_race.world" />

  <arg name="ctrl_odom_topic" default="/scanmatch_odom"/>
  <arg name="enable_controller" default="true"/>

  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0" />
    <arg name="gui" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="headless" value="false" />
    <arg name="world_name" value="$(arg world_name)" />
  </include>


  <!-- Configuration of Jackal which you would like to simulate. See jackal_description for details. -->
  <!-- Spawn Jackal -->
  <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch">
    <arg name="x" value="$(arg x)" />
    <arg name="y" value="$(arg y)" />
    <arg name="z" value="$(arg z)" />
    <arg name="yaw" value="$(arg yaw)" />
    <arg name="config" value="front_laser" />
    <arg name="joystick" value="true" />
    <arg name="enable_ekf" value="false" />

  </include>

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="map_odom_transformer" args="0 0 0 0 0 0 1 map odom"/> -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="idendity_map" args="0 0 0 0 0 0 1 scanmatcher_frame base_link"/>

  <!-- slam hector as mapping and localization does not use external odom-->
  <include file="$(find jackal_gazebo)/launch/jackal_hector_map.launch">
    <arg name="scan_topic" value="front/scan" />
  </include>


  <!--- Run rviz using config inside package -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_gazebo)/rviz/test_hector_slam.rviz" />

  <!-- Run multiplot-->
  

</launch>
